{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Web ad optimization</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'web/vendors/mdi/css/materialdesignicons.min.css'  %}">
  <link rel="stylesheet" href="{% static 'web/vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'web/css/style.css'%}">
  <!-- endinject -->

</head>
<body style="background: rgb(57,53,36);
background: linear-gradient(90deg, rgba(57,53,36,1) 0%, rgba(201,191,181,1) 35%); ">
    <div style="display: none" id="dataset">{{ data }}</div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
      <!-- partial:./partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row" style="width: 100% ; " >
        <h1 style="color: white ; padding-left: 500px">Web ad optimization</h1>
        <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center" style="background: none">
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block"  style="color: white ; padding-left: 400px">
              <div class="input-group">
                  <form method="POST" action="{% url 'result' %}">
                      {% csrf_token %}
                <input type="file" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search" name = "csvfile"  style="color: white ; margin-right: 200px">
              </div>
            </li>
          </ul>

          <form class="navbar-nav navbar-nav-right">

              <a href="#" class="nav-link icon-link">
                <button  type="submit">Submit</button>
              </a>

          </form>

          </ul>
        </div>
      </nav>


      <!-- partial -->
      <div class="main-panel" >
        <div class="content-wrapper" style="inear-gradient(to bottom ,#e6fcfc,#040432);">
          <div class="row" style="linear-gradient(to bottom,#93b6e6,transparent)">
            <div class="col-lg-6 grid-margin stretch-card" style="margin: auto">
              <div class="card">
                <div class="card-body" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
                  <h4 class="card-title">Bar chart</h4>
                  <canvas id="barChart" style="display: block;width: 213%;"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Web ad optimization 2023</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> All rights reserved @ Dhivyasree , Divya S, Haranitha S</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="{% static 'web/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'web/vendors/chart.js/Chart.min.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'web/js/off-canvas.js' %}"></script>
  <script src="{% static 'web/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'web/js/template.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'web/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
 <!-- base:js -->
  <script src="{% static 'web/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'web/js/off-canvas.js' %}"></script>
  <script src="{% static 'web/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'web/js/template.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static 'web/vendors/chart.js/Chart.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'web/js/chart.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>